<div class="auth-page-container">
  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }
  <form class="signin-form" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <h2 class="signin-title">Sign In</h2>
    <div>
      <input id="username" formControlName="username" placeholder="Username"/>
      @if (submitted && signinForm.controls['username'].errors) {
        <div>
          @if (signinForm.controls['username'].errors['required']) {
            <small>Username is required</small>
          }
        </div>
      }
    </div>
    <div>
      <input id="password" type="password" formControlName="password" placeholder="Password"/>
      @if (submitted && signinForm.controls['password'].errors) {
        <div>
          @if (signinForm.controls['password'].errors['required']) {
            <small>Password is required</small>
          }
        </div>
      }
    </div>
    <button type="submit">SIGN IN</button>
  </form>
  
  <div class="forgot-password-link">
    <a routerLink="/forgot-password">Forgot Password?</a>
  </div>
  
  <div class="signup-link">
    <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
  </div>
</div>
