<div class="feed-container">
  <div class="feed-card">
    <h2 class="feed-title">User Selections</h2>

    @if (feed.length > 0) {
    <ul class="feed-list">
      @for (item of feed; track item.id || item.match?.id) {
      <li class="feed-item">
        <strong class="user-name">{{ item.user?.firstName }} {{ item.user?.lastName }}</strong>
        <div class="selection-details">
          picked <b class="team-name">{{ item.match?.['team'+item.team] }}</b>
          <span> for <i class="match-teams">{{ item.match?.teamA }} vs {{ item.match?.teamB }}</i></span>
        </div>
        <span class="timestamp">{{ item.match?.updatedAt | date:'short' }}</span>
      </li>
      }
    </ul>
    } @else if (!loading) {
    <p class="no-data">No selections found.</p>
    }

    @if (hasMore && !loading ) {
    <button class="load-more-btn" (click)="loadSelections()">Load More</button>
    }

    @if (loading) {
    <div class="loading">Loading...</div>
    }
  </div>
</div>