<div class="auth-page-container">
  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }
  <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h2 class="signup-title">Sign Up</h2>
    <div class="signup-name-row">
      <div>
        <input id="firstName" formControlName="firstName" placeholder="First Name"/>
        @if (submitted && signupForm.controls['firstName'].errors) {
          <div>
            @if (signupForm.controls['firstName'].errors['required']) {
              <small>First name is required</small>
            }
          </div>
        }
      </div>
      <div>
        <input id="lastName" formControlName="lastName" placeholder="Last Name"/>
        @if (submitted && signupForm.controls['lastName'].errors) {
          <div>
            @if (signupForm.controls['lastName'].errors['required']) {
              <small>Last name is required</small>
            }
          </div>
        }
      </div>
    </div>
    <div>
      <input id="email" formControlName="email" placeholder="Email"/>
      @if (submitted && signupForm.controls['email'].errors) {
        <div>
          @if (signupForm.controls['email'].errors['required']) {
            <small>Email is required</small>
          }
        </div>
      }
    </div>
    <div>
      <input id="username" formControlName="username" placeholder="Username"/>
      @if (submitted && signupForm.controls['username'].errors) {
        <div>
          @if (signupForm.controls['username'].errors['required']) {
            <small>Username is required</small>
          }
        </div>
      }
    </div>
    <div>
      <input id="password" type="password" formControlName="password" placeholder="Password"/>
      @if (submitted && signupForm.controls['password'].errors) {
        <div>
          @if (signupForm.controls['password'].errors['required']) {
            <small>Password is required</small>
          }
        </div>
      }
    </div>
    <button type="submit">SIGN UP</button>
  </form>
  <div class="signup-link">
    <p>Already have an account? <a routerLink="/signin">Sign in</a></p>
  </div>
</div>
